:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --corn-pos: -3px;
  --ans-bg: rgb(73 28 232);
  /* --ans-bg: #1a1919;  */
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #5091dd 0%, #030617 100%);
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 1.6rem;
  font-size: 1.6rem;
  margin-top: 0;
}

.ball {
  position: relative;
  margin: 90px auto 0;
  width: 90vmin;
  height: 90vmin;
  max-width: 400px;
  max-height: 400px;
  min-width: 340px;
  min-height: 340px;
  border-radius: 50%;
  box-shadow: 2px 20px 20px rgb(28 28 28 / 47%);
  background-image: url(/public/magic_ball.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  perspective: 800px; /* Creates 3D depth */
}

.ball-textbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50vmin;
  height: 50vmin;
  max-width: 190px;
  max-height: 190px;
  min-width: 170px;
  min-height: 170px;
  background: #1a1919;
  border: 3px #dc56ff80 solid;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #e2eaf6;
  line-height: 22.5px;
  font-family: "Noto Sans Armenian", "Noto Sans", sans-serif;
  text-align: center;
  white-space: no-wrap;
  cursor: pointer;
  overflow: hidden;
  box-shadow: -3px 3px 4px 1px #e0c1e575;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  -webkit-perspective: 1000;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: rotate-textbox 1s linear;
  transform-origin: center;
  transition: all 0.6s;
}

.initial {
  opacity: 1;
  position: absolute;
  z-index: 2;
  left: 5px;
  top: 10px;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background: url("/public/logo_f.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.initial.hide {
  opacity: 0;
  animation: fadedown 1s;
}

.answer {
  animation: floating 6s linear infinite;
  opacity: 1;
  transform: translateZ(0);
  width: 90%;
  height: 90%;
  max-width: 170px;
  max-height: 170px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(73 28 232);
  box-shadow: 1px 1px 13px 4px rgb(81 0 233);
  transition: opacity 1s;
  line-height: 1.1rem;
}

.answer.hide {
  opacity: 0;
  animation: fadedown 1s;
}

.invisible {
  display: none;
}

.answer::after {
  content: "";
  z-index: 1;
  position: absolute;
  left: -7vmin;
  top: -5vmin;
  height: 150%;
  width: 150%;
  top: -25%;
  border-radius: 50%;
  left: -25%;
  background: linear-gradient(to left, rgb(0 0 0 / 60%), rgba(0, 0, 0, 0));
  animation: rotating 6s infinite linear;
}

.ball::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  box-shadow: inset 12px -12px 20px 2px black;
  z-index: -1;
  animation: ball-rotate 1s linear;
}

.ball.shake {
  animation: shake 0.5s;
}

.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.2;
  background: linear-gradient(300deg, rgb(117, 218, 251), darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 2s ease infinite;
}

.ball::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 178px;
  height: 178px;
  -webkit-transition: all 0.2s linear 0;
  transition: all 0.2s linear 0;
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
}

.corner {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 50px 50px 0 0;
  filter: blur(3px);
  border-color: var(--ans-bg) transparent transparent transparent;
}

.corner1 {
  top: var(--corn-pos);
  left: var(--corn-pos);
  transform: rotate(0deg);
}

.corner2 {
  right: var(--corn-pos);
  top: var(--corn-pos);
  transform: rotate(90deg);
}

.corner3 {
  bottom: var(--corn-pos);
  left: var(--corn-pos);
  transform: rotate(270deg);
}

.corner4 {
  bottom: var(--corn-pos);
  right: var(--corn-pos);
  transform: rotate(180deg);
}

.small-font {
  font-size: 0.85rem;
  line-height: 0.9rem;
}

.ball-textbox.hide-text-area {
  height: 0;
  width: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: rgb(73 28 232);
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

#snow {
  overflow-x: clip;
  max-width: 100vw;
  position: relative;
}

.header {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: gold;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.header-logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.header-text {
  flex: 1 1 auto;
}

.invisible {
  display: none;
}

.music {
  background: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.section-item {
  padding: 10px;
  border-radius: 10px;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-item p {
  line-height: 1.2rem;
}

@media (max-width: 700px) {
  .header {
    gap: 5px;
    padding: 5px;
  }
  h1 {
    margin-bottom: 0;
  }
  .header-text p {
    margin: 0;
  }

  .music {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    z-index: 10;
  }

  .ball {
    margin-top: 50px;
  }
}

/* Triangle gently floating around */
@keyframes floating {
  from {
    transform: rotateZ(0) rotateY(10deg) translateZ(6.8vmin) rotateZ(0);
  }
  to {
    transform: rotateZ(1turn) rotateY(10deg) translateZ(6.8vmin) rotateZ(-1turn);
  }
}

/* Roatating overlay */
@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes fadedown {
  from {
    transform: translateZ(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-50px);
    opacity: 0;
  }
}

.slide-in-elliptic-top-fwd {
  transform: translate3d(0, 0, 0);
  -webkit-animation: slide-in-elliptic-top-fwd 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    opacity: 0;
    filter: blur(20px);
    background-position: 200% 100%;
    background-size: 300%;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    background-size: 100%;
    background-position: 50% 50%;
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    opacity: 0;
    filter: blur(20px);
    background-position: 200% 100%;
    background-size: 300%;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    background-size: 100%;
    background-position: 50% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-10px, -2px) rotate(0deg);
  }
  20% {
    transform: translate(-30px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(10px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0deg);
  }
  50% {
    transform: translate(-10px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-30px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-10px, -1px) rotate(0deg);
  }
  90% {
    transform: translate(10px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}

@keyframes ball-rotate {
  0% {
    box-shadow: inset 12px -4px 40px 20px black;
  }
  20% {
    box-shadow: inset 30px -12px 40px 20px black;
  }
  40% {
    box-shadow: inset 6px -20px 40px 40px black;
  }
  60% {
    box-shadow: inset -20px -17px 40px 40px black;
  }
  80% {
    box-shadow: inset 7px -4px 40px 2px black;
  }
  100% {
    box-shadow: inset 12px -12px 20px 2px black;
  }
}

@keyframes rotate-textbox {
  0% {
    transform: translateX(-130%) translateY(-50%) scaleY(0.6)
      rotate3d(0, 1, 0, -75deg);
    opacity: 1;
  }
  10% {
    transform: translateX(-80%) translateY(-50%) scaleY(0.8)
      rotate3d(0, 1, 0, -35deg);
    opacity: 1;
  }
  20% {
    transform: translateX(-50%) translateY(-50%) scaleY(1)
      rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
  30% {
    transform: translateX(-10%) translateY(-50%) scaleY(0.8)
      rotate3d(0, 1, 0, 35deg);
    opacity: 1;
  }
  40% {
    transform: translateX(30%) translateY(-50%) scaleY(0.6)
      rotate3d(0, 1, 0, 75deg);
    opacity: 1;
  }
  41% {
    transform: translateX(30%) translateY(-50%) scaleY(0.6)
      rotate3d(0, 1, 0, 75deg);
    opacity: 0.3;
  }
  50% {
    transform: translateX(-10%) translateY(-50%) scaleY(0.5) scaleX(0.5)
      rotate3d(0, 1, 0, 120deg);
    opacity: 0.3;
  }
  60% {
    transform: translateX(-50%) translateY(-50%) scaleY(0.4) scaleX(0.4)
      rotate3d(0, 1, 0, 180deg);
    opacity: 0.3;
  }
  70% {
    transform: translateX(-100%) translateY(-50%) scaleY(0.5) scaleX(0.5)
      rotate3d(0, 1, 0, 240deg);
    opacity: 0.3;
  }
  80% {
    transform: translateX(-130%) translateY(-50%) scaleY(0.6)
      rotate3d(0, 1, 0, 290deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scaleY(1)
      rotate3d(0, 1, 0, 360deg);
    opacity: 1;
  }
}
